################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mear/Mear/bin/Debug/netstandard2.0
/Mear/Mear/obj
/Mear/Mear.Android/bin/Debug
/Mear/Mear.Android/obj
/Mear/Mear.iOS/obj
